body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    text-align: center;
    background: black;
    color: white;

}

.box span {
    display: block;

}

.one {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    background: black;

}
.two {
    font-size: 25px;
    color: orangered;
}
@keyframes text {
    0% {
        color: lightblue;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 12px;
        margin-bottom: -40px;
        color: lightblue;

    }
    85% {
        letter-spacing: 6px;
        margin-bottom: -40px;
        color: lightblue;

    }
}